BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Always

BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak

AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: Inline
